<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/shared.css" />
    <link rel="stylesheet" type="text/css" href="css/budget.css" />
  </head>
  <body>
    <header class="main-header">
      <div>
        <a href="/" class="main-header__brand"
          ><i class="fas fa-layer-group dash-icon"></i> Dashboard
        </a>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item"><a href="/wx">Weather</a></li>
          <li class="main-nav__item main-nav__item--active">
            <a href="/budget">Budget</a>
          </li>
          <li class="main-nav__item"><a href="/movies">Movies</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <section class="title"><h1>Budget App</h1></section>
      </div>
      <div class="item"><i class="far fa-edit edit-icon"></i>Hello World</div>
      <div class="item">
        <i class="far fa-edit edit-icon"></i>Hello World Two
      </div>
    </main>
  </body>
</html>
