<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Apps Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <div>
        <a href="/" class="main-header__brand"
          ><i class="fas fa-layer-group dash-icon"></i> Dashboard
        </a>
      </div>
    </header>
    <main>
      <section class="title"><h1>Apps Dashboard</h1></section>
      <div class="apps__list">
        <section class="apps weather">
          <a href="/wx"
            ><img src="images/partly-cloudy-day.png" />
            <h1>Weather App</h1>
            <h2 class="description">
              Get the current weather in a city or get the latest
              weather/forecast for an aerodrome.
            </h2></a
          >
        </section>
        <section class="apps budget">
          <a href="/budget"
            ><img src="images/money-box.png" />
            <h1>Budget App</h1>
            <h2 class="description">
              Track where your money goes by assigning them to categories.
            </h2></a
          >
        </section>
        <section class="apps movie">
          <a href="/movies"
            ><img src="images/starred-ticket.png" />
            <h1>Movie Database</h1>
            <h2 class="description">
              Track your movie collection with this app. Record the quality of
              the movies, whether they are digital, etc.
            </h2></a
          >
        </section>
      </div>
    </main>
  </body>
</html>
