<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header class="main-header">
      <div><a href="index.html" class="main-header__brand">Dashboard</a></div>
      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item main-nav__item--cta">
            <a href="/regular">Regular</a>
          </li>
          <li class="main-nav__item"><a href="/metar">METAR</a></li>
          <li class="main-nav__item"><a href="/taf">TAF</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
