<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link href="css/wx.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
  </head>
  <body>
    <p></p>
    <div class="container">
      <div class="banner">
        <h1 class="title">Welcome to the Weather App!</h1>
      </div>
      <hr class="my-4" />
      <form action="/" method="post">
        <p></p>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="wxType"><b>Wx Type</b></label>
            <select
              class="form-control form-control-custom"
              id="wxType"
              name="wxType"
            >
              <option>Regular</option>
              <option>METAR</option>
              <option>TAF</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="cityName"
              ><b>City Name (Regular)/ICAO Code (METAR/TAF)</b></label
            >
            <input
              type="text"
              name="cityName"
              class="form-control form-control-custom station-text"
              id="cityName"
              placeholder="e.g. Toronto or CYYZ"
            />
          </div>
        </div>
        <p class="lead">
          <button class="btn btn-standard btn-custom btn-md" type="submit">
            <i class="material-icons md-24 btn-icons">wb_cloudy</i>Get Wx Info
          </button>
        </p>
      </form>
      <% if(cityName !== null) { %>
      <div class="results-success" role="alert"><%= weather %></div>
      <% } %> <% if(error !== null) { %>
      <div class="results-error" role="alert"><%= error %></div>
      <% } %>
    </div>
  </body>
</html>
